<div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Add Roles</h1>
      </div>
     <br />
      <div class="row">
                 <div class="col-lg-12">
                      <div class="form-group row ">
                             <label class="col-sm-3 control-label" >Name</label>
                             <div class="col-sm-6">
                                <input class="form-control" type="text" ng-model="addrole.name" placeholder="Name">
                             </div>
                             <div class="col-sm-3">
                               <button type="button"  class="btn btn-primary " ng-click="addrole.addRole(addrole.name)"> <i class="fa fa-plus fa-lg"></i> Add </button>
                               <button type="button"  class="btn btn-default"> Cancel</button>
                            </div>
                    </div>
                   </div>
                   <div class="col-sm-12">
                       <div class="col-sm-4">
                             <p><strong>Non-selected</strong></p>
                             <button type="button"  ng-click="addrole.moveSingleRole()" class="btn btn-primary col-sm-12 col-md-12"> <i class="fa fa-arrow-right"></i></button>
                             <ul class="list-group col-sm-12" style=" overflow-y: scroll; height:370px;">
                                     <li class="list-group-item" ng-click="addrole.selectedRoleItem(role)" ng-repeat="role in addrole.nonSelectedRoles"><a  href>{{role.name}}</a></li>
                              </ul>
                                 <button type="button"  ng-click="addrole.moveAllRoles()" class="btn btn-default col-sm-12"> <i class="fa fa-arrow-right"></i> <i class="fa fa-arrow-right"></i></button>
                     </div>
                       <div class="col-sm-4">

                                  <p><strong>selected</strong></p>
                                  <button type="button" ng-click="addrole.moveNonSelectedSingleRole()" class="btn btn-primary col-sm-12"> <i class="fa fa-arrow-left"></i></button>
                                  <ul class="list-group col-sm-12" style=" overflow-y: scroll; height:370px">

                                       <li class="list-group-item" ng-repeat="selectedrole in addrole.selectedArray"><a href ng-click="addrole.nonselectedRoleItem(selectedrole)">{{selectedrole}}</a></li>

                               </ul>

                              <button type="button"  ng-click="addrole.moveNonSelectedAllRoles()" class="btn btn-default col-sm-12"> <i class="fa fa-arrow-left"></i> <i class="fa fa-arrow-left"></i></button>



                       </div>
                       <div class="col-sm-4 pull-right">


                       </div>

                </div>

                 <!-- /.col-lg-12 -->
             </div>
      <!-- /.col-lg-12 -->
      </div>
