
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Add Memberships</h1>
                </div>

                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">

                <div class="col-lg-12">
                           <ul class="nav nav-tabs">
                                <li role="presentation" class="active"><a href="#">Details</a></li>
                           </ul>
                           <br />
                           <div class="form-group row ">
                             <label class="col-sm-3 control-label" >Franchises</label>
                             <div class="col-sm-6">
                                <select class="form-control input-sm" ng-model="addMemberships.memberships.franchise" place-holder="chooose...">
                                   <option selected disabled>choose...</option>
                                   <option>Pakistan</option>
                                </select>
                                 <div class="col-sm-3"></div>
                           </div>
                          </div>
                           <div class="form-group row ">
                              <label class="col-sm-3 control-label" >Contact Number</label>
                              <div class="col-sm-6">
                                 <input class="form-control" type="text" ng-model="addMemberships.memberships.contactNumber" placeholder="Contact Number">
                              </div>
                              <div class="col-sm-3"></div>
                          </div>
                          <div class="form-group row ">
                          <label class="col-sm-3 control-label" >Membership</label>
                          <div class="col-sm-6">
                                <div class="checkbox">
                                       <label>
                                        <input type="checkbox" ng-model="addMemberships.memberships.memberships"> Term Based
                                       </label>
                                </div>
                          </div>
                            <div class="col-sm-3"></div>
                       </div>
                          <hr />
                            <div class="row">
                               <form role="form">

                                <div class="col-lg-6">
                                 <div class="form-group row ">
                                   <label class="col-sm-4 control-label" >Country</label>
                                   <div class="col-sm-8">
                                    <select class="form-control input-sm" ng-model="addMemberships.memberships.country">
                                       <option disabled>Choose..</option>
                                       <option>Amirica</option>
                                       <option>Pakistan</option>
                                    </select>
                                  </div>
                                </div>
                                     <div class="form-group row ">
                                        <label class="col-sm-4 control-label" >First Name</label>
                                        <div class="col-sm-8">
                                           <input class="form-control" type="text" ng-model="addMemberships.memberships.firstName" placeholder="First Name">
                                        </div>
                                     </div>
                                     <div class="form-group row ">
                                        <label class="col-sm-4 control-label" >Last Name</label>
                                        <div class="col-sm-8">
                                           <input class="form-control" type="text" ng-model="addMemberships.memberships.lastName" placeholder="Last Name">
                                        </div>
                                     </div>
                                     <div class="form-group row ">
                                       <label class="col-sm-4 control-label">ID Number</label>
                                       <div class="col-sm-8">
                                          <input class="form-control" type="text" ng-model="addMemberships.memberships.ID" placeholder="ID Number">
                                       </div>
                                    </div>
                                    <div class="form-group row ">
                                      <label class="col-sm-4 control-label" >Language</label>
                                      <div class="col-sm-8">
                                       <select class="form-control input-sm" ng-model="addMemberships.memberships.language" >
                                          <option>English</option>
                                       </select>
                                     </div>
                                   </div>
                                    <div class="form-group row ">
                                      <label class="col-sm-4 control-label" >Physical Address</label>
                                      <div class="col-sm-8">
                                         <input class="form-control" type="text" ng-model="addMemberships.memberships.physicalAddress" placeholder="Physical Address">
                                      </div>
                                   </div>
                                    <div class="form-group row ">
                                      <label class="col-sm-4 control-label" >Suburb</label>
                                      <div class="col-sm-8">
                                         <input class="form-control" type="text" ng-model="addMemberships.memberships.subrub" placeholder="Suburb">
                                      </div>
                                   </div>
                                    <div class="form-group row ">
                                      <label class="col-sm-4 control-label" >City</label>
                                      <div class="col-sm-8">
                                         <input class="form-control" type="text" ng-model="addMemberships.memberships.city" placeholder="City">
                                      </div>
                                   </div>
                                    <div class="form-group row ">
                                      <label class="col-sm-4 control-label" >Province</label>
                                      <div class="col-sm-8">
                                         <input class="form-control" type="text" ng-model="addMemberships.memberships.province" placeholder="Province">
                                      </div>
                                   </div>
                                   <!-- <div class="form-group row ">
                                     <label class="col-sm-4 control-label" >Country</label>
                                     <div class="col-sm-8">
                                        <select class="form-control input-sm" >
                                           <option>South Africe</option>
                                           <option>Amirica</option>
                                           <option>Pakistan</option>
                                        </select>
                                    </div>
                                  </div> -->
                                  <div class="form-group row ">
                                    <label class="col-sm-4 control-label" ng-model="addMemberships.memberships.areaCode">Area Code</label>
                                    <div class="col-sm-8">
                                       <input class="form-control" type="text" placeholder="Area Code">
                                    </div>
                                 </div>
                                  <div class="form-group row ">
                                   <label class="col-sm-4 control-label" >Postal Address</label>
                                   <div class="col-sm-8">
                                        <div class="checkbox">
                                               <label>
                                                 <input type="checkbox" ng-model="addMemberships.memberships.postalAddressSameAs"> Same as physical
                                               </label>
                                        </div>
                                  </div>
                                </div>
                                <div class="form-group row ">
                                   <label class="col-sm-4 control-label" >Address</label>
                                   <div class="col-sm-8">
                                      <input class="form-control" type="text" ng-model="addMemberships.memberships.address" placeholder="Address">
                                   </div>
                                </div>
                                <div class="form-group row ">
                                   <label class="col-sm-4 control-label" >Subrub</label>
                                   <div class="col-sm-8">
                                      <input class="form-control" type="text" ng-model="addMemberships.memberships.postalsubrub" placeholder="Subrub">
                                   </div>
                                </div>

                                <div class="form-group row ">
                                  <label class="col-sm-4 control-label">City</label>
                                  <div class="col-sm-8">
                                     <input class="form-control" type="text" ng-model="addMemberships.memberships.postalCity" placeholder="City">
                                  </div>
                              </div>
                              <div class="form-group row ">
                                 <label class="col-sm-4 control-label" >Province</label>
                                 <div class="col-sm-8">
                                    <input class="form-control" type="text" ng-model="addMemberships.memberships.postalProvince" placeholder="Province">
                                 </div>
                             </div>
                             <div class="form-group row ">
                                <label class="col-sm-4 control-label" >Country</label>
                                <div class="col-sm-8">
                                   <select class="form-control input-sm" ng-model="addMemberships.memberships.postalCountry" >
                                      <option>South Africe</option>
                                      <option>Amirica</option>
                                      <option>Pakistan</option>
                                   </select>
                              </div>
                             </div>
                             <div class="form-group row ">
                              <label class="col-sm-4 control-label" >Postal Code</label>
                              <div class="col-sm-8">
                                  <input class="form-control" type="text" ng-model="addMemberships.memberships.postalCode" placeholder="Postal Code">
                              </div>
                          </div>

            </div>
            <div class="col-lg-6">
            <div class="form-group row ">
            <label class="col-sm-4 control-label" >Telephone Number</label>
            <div class="col-sm-8">
               <input class="form-control" type="text" ng-model="addMemberships.memberships.telephoneNumber" placeholder="Telephone Number">
            </div>
       </div>
       <div class="form-group row ">
         <label class="col-sm-4 control-label" >Fax</label>
         <div class="col-sm-8">
            <input class="form-control" type="text" ng-model="addMemberships.memberships.fax" placeholder="Fax">
         </div>
   </div>
   <div class="form-group row ">
     <label class="col-sm-4 control-label" >Mobile Number</label>
     <div class="col-sm-8">
       <input class="form-control" type="text" ng-model="addMemberships.memberships.mobileNumber" placeholder="Mobile Number">
     </div>
</div>
<div class="form-group row ">
<label class="col-sm-4 control-label" >Email address</label>
<div class="col-sm-8">
   <input class="form-control" type="email" ng-model="addMemberships.memberships.email" placeholder="Email address">
</div>
</div>
<br />
<h4>Debit Order Instruction</h4>
<hr />
<div class="form-group row ">
  <label class="col-sm-4 control-label" >Bank name</label>
  <div class="col-sm-8">
     <input class="form-control" type="text" ng-model="addMemberships.memberships.bankName" placeholder="Bank name">
  </div>
</div>

<div class="form-group row ">
  <label class="col-sm-4 control-label">Branch name</label>
  <div class="col-sm-8">
     <input class="form-control" type="text" ng-model="addMemberships.memberships.branchName" placeholder="Branch name">
  </div>
</div>
<div class="form-group row ">
<label class="col-sm-4 control-label" >Branch code</label>
<div class="col-sm-8">
   <input class="form-control" type="text" ng-model="addMemberships.memberships.branchCode" placeholder="Branch code">
</div>
</div>
<div class="form-group row ">
<label class="col-sm-4 control-label" >Account type</label>
<div class="col-sm-8">
  <select class="form-control input-sm" ng-model="addMemberships.memberships.accountType">
     <option disabled>choose..</option>
     <option>Account01</option>
  </select>
</div>
</div>
<div class="form-group row ">
  <label class="col-sm-4 control-label">Account  Number</label>
  <div class="col-sm-8">
     <input class="form-control" type="text" ng-model="addMemberships.memberships.accountNumber" placeholder="Account  Number">
  </div>
</div>
<div class="form-group row ">
<label class="col-sm-4 control-label" >Repayment amount(R)</label>
<div class="col-sm-8">
   <input class="form-control" type="text" ng-model="addMemberships.memberships.repaymentAmount" placeholder="Repayment amount">
</div>
</div>
<div class="form-group row ">
<label class="col-sm-4 control-label" >Repayment day</label>
<div class="col-sm-8">
  <select class="form-control input-sm" ng-model="addMemberships.memberships.repaymentDay">
     <option disabled>choose..</option>
     <option>1</option>
     <option >2</option>
  </select>
</div>
</div><div class="form-group row ">
<label class="col-sm-4 control-label" >Repayment month</label>
<div class="col-sm-8">
  <select class="form-control input-sm" ng-model="addMemberships.memberships.repaymentMonth">
     <option disabled>choose..</option>
     <option >January</option>
  </select>
</div>
</div>
<div class="form-group row ">
<label class="col-sm-4 control-label" >Repayment year</label>
<div class="col-sm-8">
   <input class="form-control" type="text" ng-model="addMemberships.memberships.repaymentYear" placeholder="Repayment year">
</div>
</div>
</div>
            <input type="submit" value="Submit" ng-click="addMemberships.addMember(addMemberships.memberships)">
           <br />

</form>
                                <!-- /.col-lg-6 (nested) -->

                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <h3>Uploads</h3>
                        <hr />
                        <div class="row">
                         <div class="col-lg-12">
                             <div class="col-lg-3">
                            Original Document
                             </div>
                            <div class="input-group col-lg-19">
                              <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">Browse...</button>
                              </span>
                              <input type="text" class="form-control" >
                            </div>
                          </div>
                          <br /><br />
                        </div>
                            <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
