
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Edit User</h1>
                </div>

                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">

                <div class="col-lg-12">
                           <form role="form" name="UserForm">

                           <div class="form-group row ">
                              <label class="col-sm-3 control-label" >Franchise</label>
                              <div class="col-sm-8">
                                          <select class="form-control" name="franchise" ng-model="editUser.EditUser.franchise">
                                            <option ng-repeat="franchises in editUser.AllFranchiceName">{{franchises.franchiseName}}</option>
                                         </select>
                                         <span class="error" ng-show="UserForm.franchise.$error.required">Franchise is required.</span>
                              </div>
                              <div class="col-sm-1"></div>
                          </div>
                           <div class="form-group row ">
                             <label class="col-sm-3 control-label" >Active</label>
                              <div class="col-sm-6">
                              <div class="checkbox checkbox-slider--default checkbox-slider--a checkbox-slider-md">
                                     <label>
                                            <input ng-model="editUser.EditUser.active" type="checkbox"/>
                                            <span></span>
                                    </label>
                              </div>
                              </div>
                              <div class="col-sm-3"></div>
                        </div>
                                        <div class="form-group row">
                                           <label class="col-sm-3 control-label" >Email Address</label>
                                           <div class="col-sm-8">
                                                <input disabled class="form-control" ng-model="editUser.EditUser.email" type="email" placeholder="example@example.com">


                                           </div>
                                           <div class="col-sm-1"></div>
                                        </div>
                                        <div class="form-group row ">
                                           <label class="col-sm-3 control-label" >First Name</label>
                                           <div class="col-sm-8">
                                                <input class="form-control" name="firstName" ng-if="editUser.EditUser.firstname" ng-model="editUser.EditUser.firstname" type="text" placeholder="First Name" required>
                                                <input class="form-control" name="firstName"  ng-if="editUser.EditUser.username" ng-model="editUser.EditUser.username" type="text" placeholder="First Name" required>
                                           </div>
                                           <div class="col-sm-1"></div>
                                        </div>
                                        <div class="form-group row ">
                                           <label class="col-sm-3 control-label" >Last Name</label>
                                           <div class="col-sm-8">
                                                 <input class="form-control" name="lastName" ng-model="editUser.EditUser.lastname" type="text" placeholder="Last Name">
                                           </div>
                                           <div class="col-sm-1"></div>
                                        </div>
                                        <div class="form-group row ">
                                           <label class="col-sm-3 control-label" >Access role</label>
                                           <div class="col-sm-8">
                                                       <select class="form-control" name="role" ng-model="editUser.EditUser.role" required="">
                                                         <option ng-repeat="roles in editUser.Roles" ng-if="roles.isSelected === true ">{{roles.name}}</option>
                                                      </select>
                                              <span class="error"ng-show="UserForm.role.$error.required">Access role is required.</span>
                                          </div>
                                           <div class="col-sm-1"></div>
                                       </div>
                                       <div class="form-group row ">
                                          <label class="col-sm-3 control-label" >Password</label>
                                          <div class="col-sm-8">
                                                <input class="form-control" name="password" ng-pattern="/^(?=.{6,})(?=(.*\d){1,})(?=(.*\W){1,})/" ng-model="editUser.password" type="password" placeholder="Password">
                                                <span class="error" ng-show="UserForm.password.$error.pattern">Password should be greater than seven characters. Contains at least one digit. <br />Contains at least one special (non-alphanumeric) character.</span>
                                          </div>
                                          <div class="col-sm-1"></div>
                                       </div>
                                       <div class="form-group row ">
                                          <label class="col-sm-3 control-label" >Confirm Password</label>
                                          <div class="col-sm-8">
                                                    <input class="form-control" type="password" ng-model="editUser.EditUser.confirmpassword" placeholder="Confirm Password">
                                          </div>
                                          <div class="col-sm-1"></div>
                                       </div>
                                       <div class="form-group row ">
                                          <div class="col-sm-3">
                                                      <button type="button" class="btn btn-primary" ng-disabled="editUser.disable || UserForm.$invalid" ng-click="editUser.editUser(editUser.EditUser,editUser.password)" >Update </button>
                                                      <button type="button" ui-sref="dashboard.user" class="btn btn-default" > Cancel </button>
                                          </div>
                                       </div>
                                       <br />

</form>
                                <!-- /.col-lg-6 (nested) -->

                                <!-- /.col-lg-6 (nested) -->
                            </div>
                <!-- /.col-lg-12 -->
            </div>
</div>
            <!-- /.row -->
